/* Homepage slider */
.slider-wrapper {
  position: relative;
  max-width: 1500px;
  width: 100%;
  height: fit-content;
  margin: 0 auto;
}

.slider {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0, 0, 0.25);
  padding: 20px 0;
}

.slider::-webkit-scrollbar {
  display: none;
}

.page-title {
  font-size: 18px;
  font-weight: 700;
  color: var(--light-gold);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.slider-content {
  flex: 1 0 100%;
  scroll-snap-align: start;
}

.slider-img {
  width: 90%;
  height: auto;
  object-fit: cover;
  align-items: center;
  display: block;
  margin: 0 auto;
}

.slider-img.prod {
  padding-top: 20px;
  width: 45%;
  height: auto;
}

.text {
  align-items: center;
  text-align: center;
  grid-column: auto;
}

.title {
  font-family: "UTMDavida";
  font-size: calc(24px + 0.1vw);
  font-weight: 400;
  color: var(--light-gold);
  align-items: center;
  text-align: center;
}

.introduce {
  width: 80%;
  font-size: calc(11px + 0.3vw);
  font-weight: 500;
  text-align: justify;
  color: var(--white);
  padding-top: 10px;
  margin: 0 auto;
}

.action-button {
  padding: 15px 10px;
  width: 100%;
  display: flex; 
  justify-content: space-around;
  column-gap: 10px;
}

.next-arrow {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 50%;
  padding: 0 10px;
  z-index: 1;
}

.left, .right {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  object-fit: cover;
  transform: translate(0, 50%);
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  transition: var(--smooth);
  margin: 50px 0;
}

.dot {
  float: left;
  padding: 8px 8px;
  text-decoration: none;
  border: 1px solid var(--light-gold);
  border-radius: 999px;
  transition: var(--smooth);
}

.active {
  background-color: var(--light-gold);
}

@media (min-width: 760px) {
  .slider-wrapper {
    width: 70%;
  }

  .slider {
    margin-top: 50px;
  }

  .slider-content {
    display: flex;
    flex-direction: row;
  }

  .slider-img {
    width: 50%;
    height: auto;
  }
  
  .text {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
  }

  .introduce {
    width: 80%;
    text-align: left;
    margin: 0;
    margin-right: auto;
  }

  .title {
    font-size: 36px;
    margin-right: auto;
  }

  .page-title {
    display: none;
    font-size: 36px;
    font-weight: 600;
  }

  .next-arrow {
    padding: 0;
    bottom: 40%;
  }

  .left {
    transform: translate(0, 0);
  }

  .right {
    transform: translate(0, 0); 
  }

  .action-button {
    padding: 20px 0px;
    justify-content: flex-start;
  }

  .image_wrapper {
    position: relative;
  }
  
  .overlay-background {
    position: absolute; 
    background: #5E5E5EB2;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.7;
  }
  
  .overlay {
    position: absolute; 
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--light-gold);
    -webkit-mask-image: url(../assets/icons/search.svg);
    mask-image: url(../assets/icons/search.svg);    
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
  }
  
  .overlay_1 {
    inset: 0;
    transform: scale(0);
    transition: all .3s ease-in-out;
  }
  
  .image_wrapper:hover .overlay_1 {
    transform: scale(1);
  }
}

@media (min-width: 1200px) {
  .title {
    font-size: 48px;
  }

  .slider-wrapper {
    width: 80%;
  }

  .next-arrow {
    z-index: 0;
  }

  .left, .right {
    width: 80px;
    height: 120px;
  }
}

@media (min-width: 1700px) {
  .slider-wrapper {
    width: 100%;
  }

  .left {
    transform: translate(-100%, 50%);
  }

  .right {
    transform: translate(100%, 50%);
  }

  .left, .right {
    width: 129px;
    height: 150px;
  }
}

/* Info section */

.container {
  position: relative;
  margin: 0 auto;
}

.info-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--garnet);
}

.content-wrapper {
  max-width: 1500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 0 auto;
}

.content-wrapper + .hide {
  opacity: 0;
  transition: var(--smooth);
  transform: translateY(-100%);
  display: none;
}

.origin-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  margin: 20px auto;
}

.origin-introduce {
  width: 80%;
  text-align: center;
  color: var(--white);
  padding: 20px 0;
  margin: 0 auto;
}

.origin-button {
  font-size: 14px
}

.show {
  opacity: 1;
  transition: var(--smooth);
  transform: translateY(0);
  padding-bottom: 0;
}

.hide-button {
  margin: auto;
  width: 20px;
  height: 32.76px;
}

.characteristic {
  background-color: var(--dark-emerald);
}

.info-title {
  font-size: 36px;
}


@media (min-width: 760px) {
  .info-wrapper {
    justify-content: center;
    margin: 0;
  }

  .content-wrapper {
    max-width: 100vw;
    padding: 20px 0;
    justify-content: space-between;
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
  }

  .content-wrapper.reverse img {
    order: 1;
  }

  .content-wrapper.characteristic {
    padding: 0;
  }

  .text {
    width: 80%;
    align-items: center;
    justify-self: center;
  }

  .origin-image {
    padding: 40px 0;
    width: 90%;
    margin: 20px 0;
  }

  .origin-image.reverse {
    margin-left: auto;
  }

  .origin-image.characteristic {
    width: 90%;
    height: 100%;
    object-fit: cover;
    margin: 0;
    padding: 0;
  }

  .origin-introduce {
    width: 100%;
    text-align: left;
  }

  .origin-introduce.reverse {
    text-align: right;
  }

  .info-title.reverse {
    margin-right: 0;
    margin-left: auto;
  }

  .action-button.reverse {
    padding: 20px 0px;
    justify-content: flex-end;
  }

  .hide-button {
    position: relative;
    width: 54px;
    height: 76.49px;
  }

  .origin-button {
    font-size: 24px;
  }

  .slider-content.prod {
    flex: 2 0 50%;
  }

  .image_wrapper {
    margin: 0 auto;
  }

  .slider-img.prod {
    width: 70%;
    height: auto;
    padding: 0;
  }
}

@media (min-width: 1200px) {
  .slider-content.prod {
    margin: 0;
    flex: 2 2 100%;
  }
}

/* Footer */
.footer-wrapper {
  position: relative;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--light-gold);
  font-size: 14px;
}

.social-navbar,.page-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  padding: 15px 0 10px 0;
}

.page-navbar a {
  color: var(--light-gold);
  font-size: calc(9px + 1vw);
  text-decoration: none;
}

.footer-info {
  padding-top: 10px;
  color: var(--white);
  text-align: center;
}

@media (min-width: 1200px) {
  .footer-wrapper {
    background-color: var(--royal-blue);
  }

  .page-navbar a {
    color: var(--light-gold);
    font-size: 14px;
    text-decoration: none;
  }
}
