.container {
  position: relative;
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
}

.info-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  margin: 0 auto;
  color: white;
  padding-top: 110px;
}

.dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dropdown-title {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.dropdown-title .xl {
  font-size: 48px;
  font-weight: 900;
}

.dropdown-title .md {
  font-size: 36px;
  font-weight: 900;
}

.dropdown-arrow {
  width: fit-content;
  position: relative;
  top: -30px;
  left: 105%;
}

.dropdown-arrow.open {
  transform: rotate(180deg);
  transition: var(--smooth);
}

.dropdown-items {
  width: fit-content;
  height: fit-content;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 0px 0px 20px 20px;
  transition: var(--smooth);
  transform: translateY(-60%);
  height: 90px;
  opacity: 0;
  z-index: -1;
}

.dropdown-items.open {
  z-index: 1;
  opacity: 1;
  transform: translateY(0);
  height: 100%;
  margin-bottom: 40px;
  transition: var(--smooth);
}

.dropdown-items a {
  width: 100%;
  padding: 13px 20px;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
}

.form-title {
  font-family: "UTMDavida";
  font-size: 30px;
  font-weight: 400px;
  text-align: center;
  color: var(--light-gold);
  transition: var(--smooth);
}

.info {
  position: relative;
  width: 100%;
  height: fit-content;
  transition: var(--smooth);
}

.info-box {
  width: 100%;
  padding-top: 12px;
}

.info-title {
  font-size: 16px;
  font-weight: 700;
  padding: 5px 0;
}

input {
  width: 100%;
  font-size: 14px;
  padding: 10px 10px;
}

.date {
  width: 80%;
  display: flex;
  justify-content: flex-start;
  column-gap: 10px;
}

.date-arrow {
  position: absolute;
  width: fit-content;
  top: 40.5%;
}

.date-arrow.stay {
  right: 50%;
}

.date-arrow.left {
  left: 18%;
}

.date-arrow.right {
  right: 22%;
}

.cardbtn button {
  width: 22px;
  height: 22px;
  position: absolute;
  right: 0;
  top: 38%;
  margin: 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  z-index: 1;
}

.namebtn {
  position: absolute;
  right: 0;
  top: 57%;
  padding: 10px;
  border: none;
  margin: auto;
  background-color: transparent;
  cursor: pointer;
  z-index: 1;
}

.namebtn button {
  background-color: transparent;
  border: none;
  width: 22px;
  height: 22px;
}


.buttons {
  width: 100%;
  padding-top: 18px;
  display: flex;
  justify-content: flex-end;
  column-gap: 20px;
}

.small-button {
  font-size: 16px;
  font-weight: 600;
  color: var(--white);
}

select {
  width: 100%;
  font-size: 14px;
  padding: 10px 10px;
  background-color: transparent;
  color: var(--white);
  border: 3px solid var(--light-gold);
  border-radius: 15px;

  /* appearance: none;
  background-image: url("../assets/icons/arrow.svg");
  background-repeat: no-repeat;
  background-position: right 0.7rem top 50%;
  background-size: 0.65rem auto; */
}


@media (min-width: 768px) {
  .container {
    /* width: calc(100% - 100px); */
    padding: 145px 0 100px 0;
  }

  .info-wrapper {
    padding: 0 50px;
  }

  .dropdown {
    width: 100%;
    display: flex;
    justify-self: start;
    align-items: flex-start;
  }

  .form-title {
    font-size: 36px;
  }

  .dropdown-title .xl{
    font-size: 64px;
  }

  .dropdown-title .md{
    font-size: 48px;
  }
}

@media (min-width: 1200px) {
  .container {
    padding: 220px 0 100px 0;
  }

  .info-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-direction: row;
    padding: 0;
  }

  .info {
    width: 90%;
    height: fit-content;
    justify-content: flex-end;
    margin-right: 40px;
  }

  .dropdown-title .xl{
    font-size: 68px;
  }

  .dropdown-title .md{
    font-size: 48px;
  }

  .dropdown {
    width: 100%;
    align-items: flex-start;
  }

  .dropdown-items {
    height: 100%;
    text-align: left;
    transform: translateY(0);
    transform: translateX(20%);
    margin-top: 20px;
    border: 0;
    opacity: 1;
    z-index: 1;
  }

  .dropdown-item {
    font-size: 24px;
    font-weight: 700;
  }

  .dropdown-items.open {
    transform: translateX(20%);
    margin-top: 20px;
  }

  .dropdown-items a{
    text-align: left;
    font-size: 24px;
  }

  .dropdown-arrow {
    display: none;
  }

  .form-title {
    font-size: 55px;
  }

  .info-box {
    width: 100%;
    padding-top: 20px;
  }

  .info-title {
    font-size: 24px;
    padding: 10px 0;
  }

  input {
    font-size: 18px;
    padding: 15px 20px;
  }

  select {
    font-size: 18px;
    padding: 15px 20px;
  }

  .date {
    column-gap: 40px;
  }

  .date-arrow.stay {
    right: 51%;
  }
  
  .date-arrow.left {
    left: 17%;
  }
  
  .date-arrow.right {
    right: 22%;
  }

  .namebtn {
    top: 56%;
  }

  .namebtn button {
    width: 40px;
    height: 40px;
  }

  .icons svg {
    width: 40px;
    height: 40px;
  }

  .cardbtn button {
    width: 40px;
    height: 40px;
    top: 37.5%;
  }

  .buttons {
    padding: 35px 0;
    column-gap: 40px;
  }

  .small-button {
    font-size: 24px;
    padding: 10px 30px;
  }
}