.container {
  position: relative;
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
}

.info-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3  0px;
  margin: 0 auto;
  color: white;
  padding-top: 110px;
}

.dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dropdown-title {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.dropdown-title .xl {
  font-size: 48px;
  font-weight: 900;
}

.dropdown-title .md {
  font-size: 36px;
  font-weight: 900;
}

.dropdown-arrow {
  width: fit-content;
  position: relative;
  top: -30px;
  left: 105%;
}

.dropdown-arrow.open {
  transform: rotate(180deg);
  transition: var(--smooth);
}

.dropdown-items {
  width: fit-content;
  height: fit-content;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 0px 0px 20px 20px;
  transition: var(--smooth);
  transform: translateY(-60%);
  height: 90px;
  opacity: 0;
  z-index: -1;
}

.dropdown-items.open {
  z-index: 1;
  opacity: 1;
  transform: translateY(0);
  height: 100%;
  margin-bottom: 40px;
  transition: var(--smooth);
}

.dropdown-items a {
  width: 100%;
  padding: 13px 20px;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
}

.form-title {
  font-family: "UTMDavida";
  font-size: 30px;
  font-weight: 400px;
  text-align: center;
  color: var(--light-gold);
  transition: var(--smooth);
}

.info {
  position: relative;
  width: 100%;
  height: fit-content;
  transition: var(--smooth);
}


.orders-info {
  padding-top: 70px;
}

.order-info {
  padding-top: 45px;
}


.order-code {
  font-size: 24px;
}

.order-id {
  font-size: 24px;
  font-weight: 700;
}

.order-process {
  width: fit-content;
  position: relative;
  padding-top: 55px;
  flex-direction: column;
  text-align: center;
}

.order-process::before {
  display: inline-block;
  content: "";
  position: absolute;
  top: 0;
  left: 15px;
}

.pos {
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.process {
  position: relative;
  padding-left: 30px;
}

.process:not(:last-child) {
  padding-bottom: 20px;
}

.process::before {
  display: inline-block;
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 10px;
}

.process.is-done:last-child::before {
  content: none;
}

.process::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: -10px;
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  border-radius: 50%;
  background-color: #fff;
}

.process.is-done::before {
  border-left: 2px solid var(--light-gold);
}

.process.is-done::after {
  content: "";
  font-size: 13px;
  color: #fff;
  text-align: center;
  border: 2px solid var(--garnet);
  background-color: var(--garnet);
}

.process-title {
  font-size: 18px;
  font-weight: 700;
}


@media (min-width: 768px) {
  .container {
    padding: 145px 0 100px 0;
  }

  .info-wrapper {
    padding: 0 50px;
  }

  .dropdown {
    width: 100%;
    display: flex;
    justify-self: start;
    align-items: flex-start;
  }

  .form-title {
    font-size: 36px;
  }

  .dropdown-title .xl{
    font-size: 64px;
  }

  .dropdown-title .md{
    font-size: 48px;
  }

  .process:not(:last-child) {
    padding-bottom: 75px;
  }

  .orders-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
  }
}



@media (min-width: 1200px) {
  .container {
    padding: 220px 0 100px 0;
  }

  .info-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-direction: row;
    padding: 0;
  }

  .info {
    width: 100%;
    height: fit-content;
    justify-content: flex-end;
    margin-right: 40px;
  }

  .dropdown-title .xl{
    font-size: 68px;
  }

  .dropdown-title .md{
    font-size: 48px;
  }

  .dropdown {
    width: 100%;
    align-items: flex-start;
  }

  .dropdown-items {
    height: 100%;
    text-align: left;
    transform: translateY(0);
    transform: translateX(20%);
    margin-top: 20px;
    border: 0;
    opacity: 1;
    z-index: 1;
  }

  .dropdown-item {
    font-size: 24px;
    font-weight: 700;
  }

  .dropdown-items.open {
    transform: translateX(20%);
    margin-top: 20px;
  }

  .dropdown-items a{
    text-align: left;
    font-size: 24px;
  }

  .dropdown-arrow {
    display: none;
  }

  .form-title {
    font-size: 55px;
  }


  .orders-info {
    column-gap: 60px;
  }

  .order-process {
    padding-top: 67px;
  }

  .process-title {
    font-size: 24px;
  }

  .process-time {
    font-size: 18px;
  }

  .process:not(:last-child) {
    padding-bottom: 35px;
  }
}